
<div class="AppAllRummy_Notice_Slider">
		<marquee>About - Friends, if you want to get into the leaderboard of the Yono VIP then you will have to share it
			with many of your friends.
			To become a <a href="/" target="_blank" rel="dofollow">Yono VIP</a> member.
		</marquee>
	</div>

<div class="footer">
		<div class="devider"></div>
		<div class="links">
			<a href="#" class="border"><span class="fa fa-address-book"></span>&nbsp;About Us</a>
			<a href="#" class="border"><span class="fa fa-phone-square"></span>&nbsp;Promote</a>
			<a href="#"><span class="fa fa-shield"></span>&nbsp;Privacy
				Policy</a>
			<a href="#" class="border"><span class="fa fa-vcard-o"></span>&nbsp;Terms &
				Conditions</a>
			<a href="#"><span class="fa fa-exclamation-circle"></span> &nbsp;Disclaimer</a>
			<div class="devider"></div>
		</div>
		<div class="AppAllRummy-Watermarks">Powered by <a href="https://allyonovip.co.in">AllYonoVIP.CO.IN</a></div>
		<div class="devider"></div>
		<div class="copyright">Copyright © 2025<a href="https://allyonovip.co.in"> <strong>YonoVIP.CO.IN</strong> </a>All Rights
			Reserved.</div>
	</div>