<li class="flex">
  <a class="flex AllYonoGames_grow" title="{{ gameData.data.title }}">
    <img src="{{ gameData.data.logo }}" alt="{{ gameData.data.title }} Apk Logo">
    <div class="info AppAllRummy_grow">
      <h3 class="name">{{ gameData.data.title }}</h3>
      <p class="grade"><span>Sign Up Bonus {{ gameData.data.bonus }}</span></p>
      <p class="txt">Minimum Withdraw {{ gameData.data.withdraw }}</p>
    </div>
  </a>
  <a class="btn allyonogames" href="{{ gameData.data.link }}">
    <i class="fa">&#xf0ed;</i> Download
  </a>
</li>