<header class="appallrummy flex">
  <div class="flex AllYonoGames_grow logo-wrapper">
    <a href="index.html" class="flex logo-link">
      <img class="allyonogamescom_logo" src="https://yonovip.io/img/yono-vip-apk-logo.png" alt="Yono VIP Logo">
      <span class="site-name">yonovip.co.in</span>
    </a>
  </div>
  <a href="https://t.me/+sqxZugQ--LIzY2Zl" class="search2" target="_blank">
    <img src="https://yonovip.io/img/telegram-join.webp" alt="Join on Telegram">
  </a>
</header>

       <div class="nav-wrapper">
  <nav class="bg nav_bar">
    <ul>
      <li class="current"><a href="index.html"><span class="fa fa-home"></span> Home</a></li>
      <li><a href="#"><span class="fa fa-address-book"></span> About</a></li>
      <li><a href="https://t.me/+sqxZugQ--LIzY2Zl"><span class="fa fa-phone-square"></span> Promote</a></li>
      <li><a href="#"><span class="fa fa-shield"></span> Policy</a></li>
      <li><a href="#"><span class="fa fa-vcard-o"></span> T&C</a></li>
    </ul>
  </nav>
</div>
