



<header class="appallrummy flex">
			<div class="flex AllYonoGames_grow">
				<span><a href="/"><img class="allyonogamescom_logo"
							src="https://yonovip.io/img/yono-vip-apk-banner-logo.webp" alt="Yono VIP Apk Banner Logo"></a>
				</span>
			</div>
			<a href="#" class="search2" target="_blank"><img src="https://yonovip.io/img/telegram-join.webp"
					alt="All Yono Games Telegram"></a>
			
		</header>
		<nav class="bg nav_bar">
			<ul>
				<li class="current"><a href="index.html"><span class="fa fa-home"></span> Home</a></li>
				<li><a href="#"><span class="fa fa-address-book"></span> About</a></li>
				<li><a href="#"><span class="fa fa-phone-square"></span> Promote</a></li>
				<li><a href="#"><span class="fa fa-shield"></span> Policy</a></li>
				<li><a href="#"><span class="fa fa-vcard-o"></span> T&C</a></li>
			</ul>
		</nav>